<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>My Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="08/16/2022" createdAt="08/15/2022"
  notes="Note: we are reviewing your information and will be shipped as soon as possible."></app-pickup-call-card>
  <app-pickup-call-card status="processing" updatedAt="08/15/2022" createdAt="08/14/2022"
  notes="Note: package has been shipped."></app-pickup-call-card>
  <app-pickup-call-card status="finished" updatedAt="08/15/2022" createdAt="08/12/2022" values="$10,000"></app-pickup-call-card>
</ion-content>
